<a href="https://colab.research.google.com/github/francotestori/aauba_01/blob/fede/TP_AA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://raw.githubusercontent.com/francotestori/aauba_01/master/resources/hotel_bookings.csv

--2020-05-25 13:05:16--  https://raw.githubusercontent.com/francotestori/aauba_01/master/resources/hotel_bookings.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16855599 (16M) [text/plain]
Saving to: ‘hotel_bookings.csv’

hotel_bookings.csv  100%[===================>]  16.07M  26.7MB/s    in 0.6s

2020-05-25 13:05:17 (26.7 MB/s) - ‘hotel_bookings.csv’ saved [16855599/16855599]

In [0]:
import pandas as pd
pd.set_option('display.max_columns', 35)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 10000)
df = pd.read_csv("hotel_bookings.csv")

## a. Descripción de los atributos

### a.i. Campos categóricos

Pertenecen a este grupo los campos numéricos o no cuyos valores representen categorías en las que la reserva de hoteles se asignará, siempre y cuando estas categorías no puedan ordenarse en forma inmediata. Pertenecen a este grupo los campos que pueden tomar valores 0 y 1, entre otros. Se agregan también el campo AÑO y el campo MES, para que no tomen valores numéricos.

In [0]:
df_categoricas = df[['hotel', 'is_canceled', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'deposit_type', 'agent', 'company', 'customer_type', 'reservation_status', 'arrival_date_month', 'arrival_date_year']]
df_categoricas

               hotel  is_canceled meal country market_segment distribution_channel  is_repeated_guest deposit_type  agent  company customer_type reservation_status arrival_date_month  arrival_date_year
0       Resort Hotel            0   BB     PRT         Direct               Direct                  0   No Deposit    NaN      NaN     Transient          Check-Out               July               2015
1       Resort Hotel            0   BB     PRT         Direct               Direct                  0   No Deposit    NaN      NaN     Transient          Check-Out               July               2015
2       Resort Hotel            0   BB     GBR         Direct               Direct                  0   No Deposit    NaN      NaN     Transient          Check-Out               July               2015
3       Resort Hotel            0   BB     GBR      Corporate            Corporate                  0   No Deposit  304.0      NaN     Transient          Check-Out               July               2015
4       Resort Hotel            0   BB     GBR      Online TA                TA/TO                  0   No Deposit  240.0      NaN     Transient          Check-Out               July               2015
...              ...          ...  ...     ...            ...                  ...                ...          ...    ...      ...           ...                ...                ...                ...
119385    City Hotel            0   BB     BEL  Offline TA/TO                TA/TO                  0   No Deposit  394.0      NaN     Transient          Check-Out             August               2017
119386    City Hotel            0   BB     FRA      Online TA                TA/TO                  0   No Deposit    9.0      NaN     Transient          Check-Out             August               2017
119387    City Hotel            0   BB     DEU      Online TA                TA/TO                  0   No Deposit    9.0      NaN     Transient          Check-Out             August               2017
119388    City Hotel            0   BB     GBR      Online TA                TA/TO                  0   No Deposit   89.0      NaN     Transient          Check-Out             August               2017
119389    City Hotel            0   HB     DEU      Online TA                TA/TO                  0   No Deposit    9.0      NaN     Transient          Check-Out             August               2017

[119390 rows x 14 columns]

Campos:

*   **hotel**: tipo de hotel (si es Resort o es City)
*   **is_cancelled**: variable que toma 1 cuando la reserva fue cancelada
*   **meal**: tipo de reserva elegida. FB (Full Board), HB (Half Board), SC (self-catering), BB (Bed & Breakfast). Esta variable toma valores indefinidos.
*   **country**: siglas del país de origen de quienes reservan.
*   **market_segment**: segmento de mercado.
*   **distribution_channel**: canal de distribución.
*   **is_repeated_guest**: variable que toma uno cuando se trata de una reserva repetida.
*   **deposit_type**: tipo de depósito, según su condición de reembolsable o no.
*   **agent**: código del agente responsable de la reserva.
*   **company**: código de la empresa responsable de la reserva.
*   **customer_type**: tipo de consumidor.
*   **customer_type**: estado actual de la reserva.
*   **arrival_date_year**: año de arribo al hotel.
*   **arrival_date_month**: mes de arribo al hotel.

In [0]:
pd.set_option('display.max_rows', 900)
categoricas = df_categoricas.apply(lambda x: x.value_counts()).T.stack()

### a.ii. Campos numéricos

Pertenecen a este grupo los campos numéricos continuos, cuyo valor represente una magnitud y no una categoría. En los casos

In [0]:
df_numericas = df[['lead_time', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_weekend_nights', 'adults', 'children', 'babies', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']]
print(df_numericas)

Campos:

*   **lead_time**: tiempo de espera desde la emisión hasta la confirmación de la orden.
*   **arrival_date_week_number**: semana del año en la que llegarán al hotel.
*   **arrival_date_day_of_month**: día del mes en el que llegarán al hotel.
*   **stays_in_weekend_nights**: número de noches de fin de semana que se pasarán en el hotel.
*   **stays_in_week_nights**: número de noches de semana que se pasarán en el hotel.
*   **adults**: número de adultos que conforman la reserva.
*   **children**: número de niños que conforman la reserva.
*   **babies**: número de bebés que conforman la reserva.
*   **previous_cancellations**: número de reservas previas que fueron canceladas.
*   **previous_bookings_not_canceled**: número de reservas previas que no fueron canceladas.
*   **booking_changes**: número de cambios en la reserva.
*   **days_in_waiting_list**: número de días en lista de espera.
*   **adr**: tarifa media diaria.
*   **required_car_parking_spaces**: número de espacios para estacionar requeridos.
*   **total_of_special_requests**: total de pedidos especiales.

### ai.iii. Campos ordinales

Pertenecen a este grupo las variables numéricas o no que son categorías (no pueden tomar cualquier valor) pero de las que es posible establecer un orden.

In [0]:
df_ordinales = df[['reserved_room_type', 'assigned_room_type']]
df_ordinales

       reserved_room_type assigned_room_type
0                       C                  C
1                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

Campos:

*   **reserved_room_type**: tipo de habitación reservada.
*   **assigned_room_type**: tipo de habitación asignada.

In [0]:
ordinales = df_ordinales.apply(lambda x: x.value_counts()).T.stack()
ordinales

reserved_room_type  A    85994.0
                    B     1118.0
                    C      932.0
                    D    19201.0
                    E     6535.0
                    F     2897.0
                    G     2094.0
                    H      601.0
                    L        6.0
                    P       12.0
assigned_room_type  A    74053.0
                    B     2163.0
                    C     2375.0
                    D    25322.0
                    E     7806.0
                    F     3751.0
                    G     2553.0
                    H      712.0
                    I      363.0
                    K      279.0
                    L        1.0
                    P       12.0
dtype: float64

## b. Datos faltantes

In [0]:
df.isnull().sum()

## c. Correlaciones con la cancelación de la reserva

In [0]:

# 1. Para las categóricas, construyo variables 0 y 1
  # Mínimo de frecuencia para incluir la columna: 0.5% del total
min_dummy = len(df_categoricas)*0.005
dummies_cat = pd.get_dummies(df_categoricas, columns=['market_segment', 'meal', 'agent', 'company', 'is_repeated_guest', 'deposit_type', 'customer_type', 'arrival_date_month'], drop_first=False)
dummies_cat = dummies_cat.iloc[:, 6:]
corr_cat = dummies_cat[dummies_cat.columns[dummies_cat.sum()>min_dummy]]

# 2. Para las ordinales, puedo construir variables numéricas asociadas. Como una es el tipo de habitación pedido y otro es el tipo de habitación asignado, voy a construir únicamente la numérica asociada al tipo de habitación asignado, y luego voy a construir una columna dummy si el tipo de habitación pedida es el mismo o no que la asignada.
def func(row):
    if row['assigned_room_type'] == 'A':
        return 1
    elif row['assigned_room_type'] == 'B':
        return 2
    elif row['assigned_room_type'] == 'C':
        return 3
    elif row['assigned_room_type'] == 'D':
        return 4
    elif row['assigned_room_type'] == 'E':
        return 5
    elif row['assigned_room_type'] == 'F':
        return 6
    elif row['assigned_room_type'] == 'G':
        return 7
    elif row['assigned_room_type'] == 'H':
        return 8
    elif row['assigned_room_type'] == 'H':
        return 9
    elif row['assigned_room_type'] == 'I':
        return 10
    elif row['assigned_room_type'] == 'K':
        return 11
    else:
        return 0
df_ordinales['assigned_room_vl'] = df_ordinales.apply(func, axis=1)
df_ordinales.loc[(df_ordinales['assigned_room_type'] == df_ordinales['reserved_room_type']), 'assignedWhichReserved'] = 1
df_ordinales.loc[(df_ordinales['assigned_room_type'] != df_ordinales['reserved_room_type']), 'assignedWhichReserved'] = 0
corr_ord = df_ordinales[['assigned_room_vl', 'assignedWhichReserved']]

# 3. Para las numéricas traigo todas

corr_num = df_numericas

In [0]:
df_ordinales

       reserved_room_type assigned_room_type  assigned_room_vl  assignedWhichReserved
0                       C                  C                 3                    1.0
1                       C                  C                 3                    1.0
2                       A                  C                 3                    0.0
3                       A                  A                 1                    1.0
4                       A                  A                 1                    1.0
...                   ...                ...               ...                    ...
119385                  A                  A                 1                    1.0
119386                  E                  E                 5                    1.0
119387                  D                  D                 4                    1.0
119388                  A                  A                 1                    1.0
119389                  A                  A                 1                    1.0

[119390 rows x 4 columns]

Ahora junto todo y calculo las correlaciones

In [0]:
df_correlations = pd.concat([corr_num,corr_ord,corr_cat],axis=1)
df_correlations
df_correlations.loc[:,'is_canceled'] = df_categoricas['is_canceled'] 
corr = df_correlations[df_correlations.columns[1:]].corr()['is_canceled'][:-1]
squaredCorrs = corr**2 # Elevo al cuadrado para quedarme con las primeras
squaredCorrs.sort_values(ascending=False)[0:4]

deposit_type_Non Refund      0.231801
deposit_type_No Deposit      0.228399
assignedWhichReserved        0.061390
total_of_special_requests    0.055064
Name: is_canceled, dtype: float64

Me quedo con las primeras cuatro

In [0]:
#import matplotlib.pyplot as plt
#import numpy as np

df_first4 = df_correlations[['deposit_type_Non Refund', 'deposit_type_No Deposit', 'assignedWhichReserved', 'total_of_special_requests', 'is_canceled']]

matriz_nonRefund = pd.crosstab(df_correlations['deposit_type_Non Refund'], df['is_canceled'], rownames=['Tipo de depósito Non Refund'], colnames=['Cancelacion'])
matriz_noDeposit = pd.crosstab(df_correlations['deposit_type_No Deposit'], df['is_canceled'], rownames=['Tipo de depósito No Deposit'], colnames=['Cancelacion'])
matriz_assignedWhich = pd.crosstab(df_correlations['assignedWhichReserved'], df['is_canceled'], rownames=['Se les asignó lo que solicitaron'], colnames=['Cancelacion'])
matriz_specialRequest = pd.crosstab(df_correlations['total_of_special_requests'], df['is_canceled'], rownames=['Pedidos especiales'], colnames=['Cancelacion'])
matriz_specialRequest

Cancelacion             0      1
Pedidos especiales
0                   36762  33556
1                   25908   7318
2                   10103   2866
3                    2051    446
4                     304     36
5                      38      2